* {
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

header{
padding: 0;
    width: 100%;
    height: auto;
    background-color:  #4facf3;
  position: fixed;
}
header nav{
  display: flex;
  justify-content: space-between;
 
        }

header h2{
    padding-top:  3%;
    font-size: 400%;
    color: #f3f33c ;
    
    
}
.logo{
    width: 8%;
}
h1{
  padding-top: 10%;
  text-align: center;
  font-size: 350%;
  background-color: #b3b5b9;
}
nav ul{
    display: flex;
    list-style: none;

    margin-top: 5%;

}
.menu1{
    font-size: 130%;
    margin-left: 25%;
    text-transform: uppercase;
    color: black;
}
#container{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 padding-top: 5%;
 padding-left: 2%;
}
.contenedor{
    width: 80%;
    height: auto;
   /* border: solid 3px  #0f6df8 ; */
     margin: 5%;  
     border-radius: 14px;
     background: #dddfe2;
     box-shadow:  7px 7px 14px #9b9c9e,
                  -7px -7px 14px #ffffff;
}
.contenedor:hover {
    transform: scale(1.1); 
  }
.texto{
    padding: 3%;
    text-align: center;
    border-top: 3px solid black; 
    /* background-color: #dfd8d8;       */
}
.imagen{
    width: 250px;
    height: 250px;
   display: block;
   margin: auto;

}
.boton{
    border: none;
    padding: 3%;
    border-radius: 4px 0 4px 0;
    color:white;
    background-color:  #0f6df8 ;
    cursor: pointer;

}
.boton:hover{
   background-color: #4facf3;
}
.estrellas {
    color:  #0f6df8 ;
    font-size: 90%;
}
/* #carrito{
   
   font-size: 300%;
   padding-top: 2%;
   padding-right: 5%;
} */

footer{
    width: 100%;
    height: 10%;
    background-color: #4facf3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.redesFooter{
    padding: 10px;
    text-align: center;
    /* border: solid 1px black;  */
    font-size: 100%;
    color: #000000;
    margin-bottom: 2%;
}
.derechosFooter{
    text-align: center;
    padding-top: 10%;
}
.precio{
    text-decoration: line-through;
    float: left;
    padding-left: 5%;
    font-size: 120%;
    color: red;
}
.promo{

    font-size: 150%;
    font-weight: bold;
}
i{
    font-size: 150%;
    padding: 2%;
}
h3{
    font-size: 200%;
}

.carritoMenu {
    width: auto;
    height: auto;
    position: absolute;
    top: 121px;
    right: 5px;
    background: white;
    border: #2c3e50 solid 1px;
    display: none;
    padding-bottom: 20px;
  }
  .carritoMenu.active {
    display: block;
}
.carritoContainer {
    position:relative;
    
}

.carrito {
    font-size: 200%;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
}
.carrito:hover {
    color: rgb(201, 179, 179)  ;
    transform: scale(1.2); 
}
.vaciar{
    border: none;
    padding: 1%;
    border-radius: 4px;
    color:white;
    background-color:  #0f6df8 ;
    cursor: pointer;
    margin-left: 2%;
}
.vaciar:hover{
    background-color: #4facf3;
 }
 .precioTotal{
    margin-left: 2%;

 }
#contador{
    font-size: 40%;
    position: absolute;
    color: rgba(255, 0, 0, 0.747);
    margin-left: 3%;
    margin-top: -2%;
    background-color: rgb(243, 248, 248);
    border-radius: 50%;
    padding: 2px;

}

table th {
    width: 90%;

}

table {
    background-color:#4facf391 ;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: solid 2px #E1E1E1;


}

th,
td {
    border-bottom: #E1E1E1 2px solid;
    padding: 10px;

}

tbody {
    width: 100%;
    padding: 15px 15px;

}
.prev {
    width: 97px;
    height: 84px;
}
@media(max-width: 1320px) {
    .imagen{
        width: 200px;
    }

}
@media(max-width:1200px){
    #container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
}
@media(max-width:900px){
    header h2{
        font-size: 300%;
    }
.carrito {
font-size: 130%;
}
}
@media(max-width:800px){
    #container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    h1{
        font-size: 250%;
    }
    .menu1{
        font-size: 100%;
    }
    header h2{
        font-size: 250%;
    }
    .carrito {
        font-size: 100%;
        }
}
@media(max-width:550px){
    #container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }   
    .imagen{
        width: 180px;
    }
    .logo{
        width:  5%;
    }
    h1{
        font-size: 150%;
        
    }
    header h2{
        font-size: 150%;
    }
    .menu1{
        font-size: 80%;
    }

    }
