* {
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

header{
padding: 0;
    width: 100%;
    height: auto;
    background-color:  #4facf3;
  position: fixed;
}
header nav{
  display: flex;
  justify-content: space-between;
 
        }

header h2{
    padding-top:  3%;
    font-size: 400%;
    color: #f3f33c ;
    
    
}
.logo{
    width: 8%;
}
h1{
  padding-top: 10%;
  text-align: center;
  font-size: 350%;
  background-color: #b3b5b9;
}
nav ul{
    display: flex;
    list-style: none;

    margin-top: 5%;

}
.menu1{
    font-size: 130%;
    margin-left: 25%;
    text-transform: uppercase;
    color: black;
}
#container{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 padding-top: 5%;
 padding-left: 2%;
}
.contenedor{
    width: 80%;
    height: auto;
   border: solid 3px  #0f6df8 ;
   /* border-radius: 10px; */
   margin: 3%;
   background-color: #b3b5b9;
}
.texto{
    padding: 3%;
    text-align: center;
    background-color: #dfd8d8;      
}
.imagen{
    width: 250px;
    height: 250px;
   display: block;
   margin: auto;

}
.boton{
    border: none;
    padding: 3%;
    border-radius: 4px 0 4px 0;
    color:white;
    background-color:  #0f6df8 ;
    cursor: pointer;

}
.boton:hover{
   background-color: #4facf3;
}
.estrellas {
    color:  #f3f33c;
    font-size: 21px;
}
#carrito{
   
   font-size: 300%;
   padding-top: 2%;
   padding-right: 5%;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #4facf3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.redesFooter{
    padding: 10px;
    text-align: center;
    border: solid 1px black;
    font-size: 130%;
}
.precio{
    text-decoration: line-through;
    float: left;
    padding-left: 5%;
    font-size: 120%;
    color: red;
}
.promo{
    /* float: right; */
    font-size: 150%;
    font-weight: bold;
}
i{
    font-size: 150%;
    padding: 2%;
}
h3{
    font-size: 200%;
}

.carritoMenu {
    width: auto;
    height: auto;
    position: absolute;
    top: 121px;
    right: -20px;
    background: white;
    border: #2c3e50 solid 1px;
    display: none;
    padding-bottom: 20px;
  }
.carritoContainer {
    position: relative;
    z-index: 3;
}

.carrito {
    font-size: 200%;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
}
.carrito:hover {
    color: rgb(201, 179, 179)
  ;
}
.carritoMenu.active {
    display: block;
}
table th {
    width: 30em;

}

table {
    background-color:#4facf391 ;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: solid 2px #E1E1E1;


}

th,
td {
    border-bottom: #E1E1E1 2px solid;
    padding: 10px;

}

tbody {
    width: 100%;
    padding: 15px 15px;

}
.prev {
    width: 97px;
    height: 84px;
}
